@model IEnumerable<Bookstore.Models.Livro>

@{
    ViewData["Title"] = "Lista de Livros";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isbn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_livro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_livro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_livro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
